.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: #f8f8f8;
    padding-left: 80px;
    padding-right: 80px;
  }

  .logo {
    max-height: 200px;
  }